{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"prefer-const": "warn",
		"no-console": "warn",
		"no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
		"no-unused-vars": "off",
		"no-useless-escape": "off",
		"no-await-in-loop": "error",
		"no-dupe-else-if": "error",
		"no-dupe-keys": "error",
		"no-extra-parens": "warn",
		"no-inner-declarations": "warn",
		"no-unreachable": "error",
		"no-else-return": "warn",
		"default-case": "error",
		"no-magic-numbers": "error",
		"no-lone-blocks": "error",
		"no-useless-catch": "warn",
		"array-bracket-newline": "error",
		"camelcase": "error",
		"comma-spacing": "error",
		"no-inline-comments": "error",
		"no-multiple-empty-lines": "error",
		"no-trailing-spaces": "error",
		"no-var": "error",
		"prefer-destructuring": "error",
		"@typescript-eslint/no-unused-vars": "error",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/ban-ts-comment": "warn"
	}
}
